/*Filename: alternate.css*/


body{
	font-family:arial,helvetica, sans-serif; 
        color: #8b4513;
}

ul{
	list-style:none;
	line-height:25px; 
}

img{
	float:right;
	margin-left:10px;
	width:267px;
    height:200px;
}

ul.nav {
	text-align: center;
	margin: 0;
	padding: 10px 0 20px 10px;
	border-bottom: 1px solid #696;
}

ul.nav li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
	}

ul.nav a {
	float: left;
	line-height: 14px;
	font-weight: bold;
	margin: 0 10px 4px 10px;
	text-decoration: none;
	color: #696;
}

ul.nav a.active, ul.nav a.hover {
                                  border-bottom:4px solid #696;
                                  padding-bottom: 2px;
	                          
}

ul.nav a:hover {
	color: #696;
	}

#container{
	   margin-top:40px;               
}

#nav{	width:130px;
	float:left;
	padding-left:10px;
}

#content{
	width:600px;
	margin-left:160px;  
}

#header{color: #ff8c00;
        margin-left:250px;
        font-style:italic; 
}

#footer
{       text-align:right; 
	font-size:10px; 
}
  
#tabs img { width: 150px;
            height: 113px;
}
